header {
    font-size: 40px;
    background: white;
    overflow: hidden;
    margin: 1em;
}

.aa {
    padding-top: .5em;
    float: left;
}

.cc {
    float: left;
    margin-top: .5em;
}

.bb {
    border: solid 1px black;
    height: 1em;
    width: 1em;

    border-radius: .5em;
    transform: rotate(45deg);
}

.a0 {
    height: 1em;

    margin-right: -1px;
}

.a1 {
    height: 1em;
    border-right: solid 1px black;
    border-left: solid 1px black;
    /*background:yellow;*/
    margin-right: -1px;
}

.a3 .cc {
    height: .5em;
    border-right: solid 1px black;
    border-left: solid 1px black;
}

.a4 .cc {
    height: 1em;
    /*border-left:solid 1px black;*/
    /* margin-left:-1px*/
}

.b1 {
    background: white;
    /*border-top:solid 1px transparent;*/
    border-left: solid 1px transparent;
    /*border-bottom:solid 1px transparent;*/

}

.b2 {
    /*border-top:solid 1px transparent;*/
    border-left: solid 1px transparent;
    /*border-bottom:solid 1px transparent;*/
    /*  border-top:solid 1px transparent;*/
}

.b3 {
    border-left: solid 1px transparent;
    border-top: solid 1px transparent;
}

.b4 {
    border-bottom: solid 1px transparent;
    border-right: solid 1px transparent;
    border-top: solid 1px transparent;
}

.basic {
    border: solid 1px #bbb;
    border-radius: 3px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}
